---
---

@import "{{ site.theme }}";

section {
    width: 900px;
    float: right;
    padding: 30px;
}

@media print, screen and (max-width: 960px) {
    section {
        width: auto;
        position: static;
        padding: 30px;
    }
}

p a {
    color: #39c;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition:border-bottom .5s;
    -moz-transition:border-bottom .5s;
    -ms-transition:border-bottom .5s;
    -o-transition:border-bottom .5s;
    transition:border-bottom .5s;
}

p a:hover {
    color: #069;
    font-weight: normal;
    border-bottom: 1px solid #069;
    -webkit-transition:border-bottom .5s;
    -moz-transition:border-bottom .5s;
    -ms-transition:border-bottom .5s;
    -o-transition:border-bottom .5s;
    transition:border-bottom .5s;
}

.wrapper {
    width: 1160px;
    margin: 0 50px;
}

@media print, screen and (max-width: 1260px) {
    .wrapper {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}
