---
---

@import "{{ site.theme }}";

section {
    width: auto;
}

.wrapper {
    width: 1160px;
    margin: 0 50px;
}

@media print, screen and (max-width: 1260px) {
    .wrapper {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}
